* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: dark;
/*	font-family: sans-serif;*/
/*  font-family: "Roboto", sans-serif;*/

	font-family: "Roboto";
	font-weight: 300;
}

.roboto-thin {
  font-style: normal;
}


body {
	background-color: black;
	padding-bottom: 30vh;
	min-height: 300vh;
	color: #eeeeee;
}

.sectioner {
	padding-top: 64px; /*!*/
/*	padding-left: 40px;*/
	text-align: center;
	font-size: 43px;
}
.sectioner .hyperlink-hash {
	text-decoration: none;
	color: #333333;
	margin-right: 5px;
}

.myname {
	margin-left: auto;	
	display: flex;
	align-items: center;
	gap: 30px;
/*	padding-right: 90px;*/
	font-size: 20px;
}
.myname img.pp {
	border-radius: 50%;
	align-items: center;
}

div.socials {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 30px;
	padding: 50px;
}

a.social {
	display: flex;
	padding: 13px;
	min-width: 202px;
	border-radius: 20px;
	text-decoration: none;
	align-items: center;
	color: #ffffffaa;
	-webkit-tap-highlight-color: var(--border-highliglht);

	transition: 300ms;
	box-shadow: 0 0 0 0 var(--highliglht) inset, 0 0 0 1px #9999;
	/*border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: 2px 0 0 0 var(--highliglht) inset;*/
	--highliglht: hsl(355deg, 100%, 63%);
	--border-highliglht: hsla(355deg, 100%, 73%, 0.6);
}
a.social:hover {
	box-shadow: 80px 0 60px -40px var(--highliglht) inset, 0 0 0 1px var(--border-highliglht);
	color: #ffffffee;
	background-color: #111829;
	border-radius: 20px;
	transition: 200ms;
}
a.social:focus {
	box-shadow: 100px 0 60px -50px var(--highliglht) inset, 0 0 0 1px var(--border-highliglht);
	border-radius: 20px;
}
a.social:active {
	box-shadow: 180px 0 60px -50px var(--highliglht) inset, 0 0 0 1px var(--border-highliglht);
	border-radius: 20px;

}

/* socials icon  */
a.social img.icon {
	opacity: 0.6;
	transition: 300ms;
}
a.social:hover img.icon {
	opacity: 1;
}

/* socials text  */
a.social div.text {
	display: flex;
	gap: 4px;
	padding-left: 15px;

	flex-direction: column;
}

a.social div.text span.platform{
	font-size: 19px;
}
a.social div.text span.nick{
	font-size: 17px
}

/* socials customising  */
a.social.linkedin {
	--highliglht: hsl(210deg, 87%, 41%);
	--border-highliglht: hsla(210deg, 87%, 51%, 0.6);
}
a.social.github {
	--highliglht: hsl(132deg, 77%, 41%);
	--border-highliglht: hsla(132deg, 77%, 51%, 0.6);
}
a.social.telegram{
	--highliglht: hsl(200deg, 75%, 51%);
	--border-highliglht: hsla(200deg, 75%, 61%, 0.6);
}
a.social.discord{
	--highliglht: hsl(234deg, 78%, 63%);
	--border-highliglht: hsla(234deg, 78%, 63%, 0.6);
}

/* sticky */

.sticky::after {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background: linear-gradient(to right, transparent, #555, transparent);
	height: 1px;
	border-radius: 50%;
}

.sticky {
/*	background-color: #555;*/
/*	border-bottom: 1px solid #555;*/
	padding: 3px 90px;

	position: sticky;
	top: 0;
	z-index: 66;
	display: flex;
	backdrop-filter: blur(20px) brightness(+60%);
/*	background-color: #2222;*/
}



.sticky ul.menu {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 20px;
	columns: #eee;
	flex-grow: 1;
}

@media only screen and (max-width: 400px) {
	.sticky {
		padding: 4px 2px;
	}
	.sticky ul.menu {
		padding: 0 3px;
	}
	.sticky img.pp {
		display: none;
	}
}


ul.menu li a {
	transition: 300ms;
	border-radius: 13px;
	text-decoration: none;
	color: #eeeeeebb;
}
ul.menu li a:hover {
	transition: 150ms;
	color: #eeeeeeee;
	filter: drop-shadow(0 0 6px #eee);
}

.content .flow {
/*	border-left: 2px solid red;*/
/*	border: 2px dotted red;*/
/*	display: flex;*/
/*	flex-direction: row;*/
/*	justify-content: center;*/
}

.textish {
/*	border: 2px dotted blue;*/
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}

@media only screen and (max-width: 600px) {
	.sticky ul.menu {
		padding: 13px 13px;
	}
	.sticky span.name {
		display: none;
	}

	.sticky {
		padding: 13px 9px;
	}
	.unec {
		padding: 0 0 !important;
	}
	.content .flow {
/*		padding: 20px 40px;*/
	}
	div.socials {
		padding: 16px;
	}
	.textish {
		padding: 0 15px;
	}
}

.education {
	font-size: 28px;
	display: flex;
	align-items: center;
	border-radius: 13px;
	flex-wrap: wrap
/*	font-size: 52px;*/
/*	background-color: red;*/
/*	max-width: 500px;*/
}


#education {
	display: flex;
	justify-content: center;
}