* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: dark;
	font-family: "Roboto";
	font-weight: 300;
}

body {
	color: #eeeeee;
	background-color: #000000;
}

/* items */

.sectioner {
	padding-top: 64px; /*!*/
/*	padding-left: 40px;*/
	text-align: center;
	font-size: 43px;
}
.sectioner .hyperlink-hash {
	text-decoration: none;
	color: #333333;
	margin-right: 5px;
}

/* header */

.myname {
	margin-left: auto;	
	display: flex;
	align-items: center;
	gap: 30px;
	font-size: 20px;
}
.myname img.pp {
	border-radius: 50%;
	align-items: center;
}

/* contact  */

div.socials {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 30px;
	padding: 50px;
}

a.social {
	display: flex;
	padding: 13px;
	min-width: 202px;
	border-radius: 20px;
	text-decoration: none;
	align-items: center;
	color: #ffffffaa;
/*	-webkit-tap-highlight-color: var(--border-highliglht);*/
	-webkit-tap-highlight-color: transparent;

	transition: 300ms;
	box-shadow: 0 0 0 0 var(--highliglht) inset, 0 0 0 1px #9999;
	/*border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: 2px 0 0 0 var(--highliglht) inset;*/
	--highliglht: hsl(355deg, 100%, 63%);
	--border-highliglht: hsla(355deg, 100%, 73%, 0.6);
}
a.social:hover {
	box-shadow: 80px 0 60px -40px var(--highliglht) inset, 0 0 0 1px var(--border-highliglht);
	color: #ffffffee;
	background-color: #111829;
	border-radius: 20px;
	transition: 200ms;
}
a.social:focus {
	box-shadow: 100px 0 60px -50px var(--highliglht) inset, 0 0 0 1px var(--border-highliglht);
	border-radius: 20px;
}
a.social:active {
	box-shadow: 180px 0 60px -50px var(--highliglht) inset, 0 0 0 1px var(--border-highliglht);
	border-radius: 20px;

}
a.social img.icon {
	opacity: 0.6;
	transition: 300ms;
}
a.social:hover img.icon {
	opacity: 1;
}
a.social div.text {
	display: flex;
	gap: 4px;
	padding-left: 15px;

	flex-direction: column;
}

a.social div.text span.platform{
	font-size: 19px;
}
a.social div.text span.nick{
	font-size: 17px
}

/* socials customising  */
a.social.linkedin {
	--highliglht: hsl(210deg, 87%, 41%);
	--border-highliglht: hsla(210deg, 87%, 51%, 0.6);
}
a.social.github {
	--highliglht: hsl(132deg, 77%, 41%);
	--border-highliglht: hsla(132deg, 77%, 51%, 0.6);
}
a.social.telegram{
	--highliglht: hsl(200deg, 75%, 51%);
	--border-highliglht: hsla(200deg, 75%, 61%, 0.6);
}
a.social.discord{
	--highliglht: hsl(234deg, 78%, 63%);
	--border-highliglht: hsla(234deg, 78%, 63%, 0.6);
}

/* sticky */

.sticky::after {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background: linear-gradient(to right, transparent, #555, transparent);
	height: 1px;
	border-radius: 50%;
}

.sticky {
	position: sticky;
	top: 0;
	z-index: 69;
	padding: 3px 90px;
	display: flex;
	backdrop-filter: blur(20px);
/*	backdrop-filter: blur(20px) brightness(+60%);*/
/*	background-color: #2222;*/
}

.sticky ul.menu {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 20px;
	columns: #eee;
	flex-grow: 1;
}

@media only screen and (max-width: 400px) {
	.sticky {
		padding: 4px 2px;
	}
}


.content .flow {
/*	border-left: 2px solid red;*/
/*	border: 2px dotted red;*/
/*	display: flex;*/
/*	flex-direction: row;*/
/*	justify-content: center;*/
}

.textish {
/*	border: 2px dotted blue;*/
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;

	font-size: 31px;
/*	font-weight: 4000;*/
font-family: serif;
}

@media only screen and (max-width: 600px) {
	.sticky span.name {
		display: none;
	}
	.sticky {
		padding: 3px 9px;
	}
	div.socials {
		padding: 16px;
	}
}

.education {
	font-size: 28px;
	display: flex;
	align-items: center;
	border-radius: 13px;
	flex-wrap: wrap
/*	font-size: 52px;*/
/*	background-color: red;*/
/*	max-width: 500px;*/
}


#education {
	display: flex;
	justify-content: center;
}


h1 {
/*	font-size: 47px;*/
}




a.linkish {
	text-decoration: none;
	position: relative;
	transition: 200ms;
	color: #fff;

}

/*.textish a::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: scaleX(-1);
	top: 100%;
	width: 0;
	height: 1px;
	background-color: #eee;
	transition: left 800ms, width 200ms, transform 0ms;
}
.textish a:hover::before {
	transition: left 300ms, width 600ms, transform 400ms;
	transform: scaleX(1.0);
	left: 0;
	width: 100%;
}*/

a.linkish::before {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	width: 20px;
	height: 1px;
	background-color: #eee;
	animation: a-hover-out 500ms forwards;
}
a.linkish:hover::before {
	animation: a-hover-in 500ms forwards;

}
a.linkish:hover {
	filter: drop-shadow(0 0 6px #fff6);
}
@keyframes a-hover-in{
	0% {
		width: 0;
		left: 0;
	}
	25% {
		width: 30%;
		left: 70%;
	}
	49% {
		width: 0;
		left: 100%;
	}
	50% {
		left: 0;
		width: 30%;
	}
	100% {
		left: 10%;
		width: 80%;
	}
}

@keyframes a-hover-out{
	0% {
		width: 80%;
		left: 10%;
	}
	25% {
		width: 0%;
		left: 100%;
	}
	49% {
		width: 0;
		left: 0;
	}
	50% {
		width: 0;
		left: 0;
	}
	100% {
		width: 100%;
		left: 0%;
	}
}

a.linkish.no-under::before {
	animation: a-hover-out-no-under 500ms forwards;
}
a.linkish.no-under:hover::before {
	animation: a-hover-in-no-under 500ms forwards;
}

@keyframes a-hover-in-no-under{
	0% {
		width: 0;
		left: 0;
	}
	25% {
		width: 30%;
		left: 70%;
	}
	49% {
		width: 0;
		left: 100%;
	}
	50% {
		width: 30%;
		left: 0;
	}
	100% {
		width: 80%;
		left: 10%;
	}
}

@keyframes a-hover-out-no-under{
	0% {
		width: 80%;
		left: 10%;
	}
	25% {
		width: 0%;
		left: 100%;
	}
	49% {
		width: 0%;
		left: 100%;
	}
	50% {
		width: 0%;
		left: 100%;
	}
	100% {
		width: 0%;
		left: 100%;
	}
}


